doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='../stylesheets/dashboard.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" )
    title Notes page
  body#body
    header#header
      .left-icon
        img(src="../img/note-icon.png", alt="", srcset="")
        a.left-icon-text(href='/notes/dashboard') NOTES ON THE GO! 
      .search-icon-wrapper
        //- i.fa-solid.fa-magnifying-glass.search-icon
        input.search-input(type='text', placeholder='Search Note', class="search-input")
      .right-btn-wrapper
        a(class="sign-out-text", onclick="clearCookieAndRedirect()") Sign out 
          | 
          span.sign-out-wrapper 
            <i class="fa-solid fa-right-from-bracket sign-out-icon"></i>   
        <i class="fa-solid fa-moon night-mode" id="night-mode"></i> 
        <i class="fa-solid fa-sun day-mode" id="day-mode"></i>
    .body-wrapper   
      h1.welcome-text Hi, 
        | 
        span.user-name-text #{userDetail.fullname}
        |
        span.exclamation !
      if individualNotes.length == 0
        p.no-note-length You note list is empty, kindly click on the button below to create one.
      
      button#add-new-notes Click to add new note
      
      if deletedNote
        p.deleted-note-para #{deletedNote}
      else if deletingError 
        p.error-deleting #{deletingError}
        
      else if individualNotes.length >= 1 
        .existing-note-wrapper 
          h1.existing-note Your Notes
          img(src="../img/curve.png", alt="", class="existing-note-img", srcset="")
      ul 
        each note in individualNotes
          li
            h2 #{note.title}
            p 
              strong Description: 
                | #{note.description}          
            p 
              strong Status: 
                | #{note.status}
            p 
              strong Due Date: 
                | #{note.due_date}
             
          
            div.edit-and-delete-button-wrapper    
              button(class="edit-notes", data-note=JSON.stringify(note)) 
                | <i class="fa-solid fa-pen-to-square"></i> Edit Note
              button(class="delete-note", data-note=JSON.stringify(note)) 
                | <i class="fa-solid fa-trash"></i> Delete Note

          div#each-note-display
            form(action='/notes/dashboard/edit', method='post', onsubmit="submitForm(event)", enctype="application/x-www-form-urlencoded")
               
              input(type='hidden', id='noteId', name='noteId') 

              label(for='title') Title:
              input(type='text', id='title', name='title', required)

              label(for='description') Description:
              input(type='text', id='description', name='description')

              label(for='dueDate') Due Date:
              input(type='text', id='dueDate', name='due_date',)

              label(for='status', class="status-label") Status:
                .status-option-wrapper
                  input(type='radio', id='statusConfirmed' class="status-input", name='status', value='Confirmed', required)
                  label(for='status-confirmed', class="status-confirmed",) Confirmed
                  
                              
                .status-option-wrapper
                  input(type='radio', id='statusPending', class="status-input", name='status', value='Pending', required)                 
                  label(for='status-pending', class="status-pending") Pending
              div.button-wrapper    
                button.submit-btn(type='submit') Save Changes
                button.cancel-btn Cancel Edit

    div#add-new-note-pop-up
      form(action='/notes/dashboard/add-new-note', method='post', enctype="application/x-www-form-urlencoded")
        //- Populate the input fields with note data
        label(for='title') Title:
        input(type='text', id='title', name='title', required, placeholder='Enter the note title here')

        label(for='description') Description:
        input(type='text', id='description', name='description', placeholder='Enter the note description here')

        label(for='dueDate') Due Date:
        input(type='date', id='dueDate', name='due_date', placeholder='Enter the due date e.g 24th of August, 2023')

        label(for='status', class="status-label") Status:
          .status-option-wrapper
          input(type='radio', id='statusConfirmed' class="status-input", name='status', value='Confirmed', required)
          label(for='status-confirmed', class="status-confirmed",) Confirmed
                  
                              
          .status-option-wrapper
          input(type='radio', id='statusPending', class="status-input", name='status', value='Pending', required)                 
          label(for='status-pending', class="status-pending") Pending
        
        div.button-wrapper    
          button.submit-btn(type='submit') Save note
          button.cancel-btn Cancel
    div#delete-note-pop-up
      .delete-btn-wrapper 
        p.are-you-sure Are you sure you want to delete 
        .confirm-cancel-btn-wrapper
          button.confirm-btn Yes  
          button.cancel-btn.no No 

  script(src="../js/dashboard.js")